<?xml version="1.0"?>
<robot name="dog" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="./const.xacro"/>
    <xacro:include filename="./ros2_control.xacro"/>
    <xacro:include filename="./leg.xacro"/>

    <link name="TORSO">
        <inertial>
            <origin xyz="${torso_com_x} ${torso_com_y} ${torso_com_z}"/>
            <mass value="${torso_mass}"/>
            <inertia ixx="${torso_ixx}" ixy="0" ixz="0" iyy="${torso_iyy}" iyz="0" izz="${torso_izz}"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="${mesh_path}/torso.STL"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0.01"/>
            <geometry>
                <box size="0.5 0.1 0.12"/>
            </geometry>
        </collision>
        <collision>
            <origin xyz="0 0 0.01"/>
            <geometry>
                <box size="0.25 0.2 0.12"/>
            </geometry>
        </collision>
    </link>

    <link name="imu_link">
        <inertial>
            <mass value="0.1"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
        </inertial>
    </link>
    

    <joint name="imu_joint" type="fixed">
        <parent link="TORSO"/>
        <child link="imu_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
    <gazebo reference="imu_joint">
            <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>
    
    <link name="base_link"/>
    <joint name="base_joint" type="fixed">
        <parent link="base_link"/>
        <child link="TORSO"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>


    <xacro:dog_leg name="LF" mirror="1" f_b="1"/>
    <xacro:dog_leg name="LH" mirror="1" f_b="-1"/>
    <xacro:dog_leg name="RF" mirror="-1" f_b="1"/>
    <xacro:dog_leg name="RH" mirror="-1" f_b="-1"/>

    <ros2_control name="dog_System" type="system">
        <hardware>
            <!-- <plugin>gazebo_ros2_control/GazeboSystem</plugin> -->
            <plugin>dog_hardware/DogGazeboHW</plugin>
            <param name="delay">${cfg['controller_manager']['ros__parameters']['hw_params']['delay']}</param>
            <param name="imu_accel_var">${cfg['controller_manager']['ros__parameters']['imu_params']['accel']['variance']}</param>
            <param name="imu_gyro_var">${cfg['controller_manager']['ros__parameters']['imu_params']['gyro']['variance']}</param>
            <param name="imu_ori_var">${cfg['controller_manager']['ros__parameters']['imu_params']['orientation']['variance']}</param>
        </hardware>

        <sensor name="imu_sensor">
            <state_interface name="orientation.x"/>
            <state_interface name="orientation.y"/>
            <state_interface name="orientation.z"/>
            <state_interface name="orientation.w"/>
            <state_interface name="angular_velocity.x"/>
            <state_interface name="angular_velocity.y"/>
            <state_interface name="angular_velocity.z"/>
            <state_interface name="linear_acceleration.x"/>
            <state_interface name="linear_acceleration.y"/>
            <state_interface name="linear_acceleration.z"/>

            <state_interface name="orientation_covariance"/>
            <state_interface name="angular_velocity_covariance"/>
            <state_interface name="linear_acceleration_covariance"/>
        </sensor>

        <sensor name="LF_contact_sensor"> <state_interface name="contact"/></sensor>
        <sensor name="RF_contact_sensor"> <state_interface name="contact"/></sensor>
        <sensor name="LH_contact_sensor"> <state_interface name="contact"/></sensor>
        <sensor name="RH_contact_sensor"> <state_interface name="contact"/></sensor>
        
        <xacro:leg_control_interface name="LF"/>
        <xacro:leg_control_interface name="RF"/>
        <xacro:leg_control_interface name="LH"/>
        <xacro:leg_control_interface name="RH"/>
    </ros2_control>

    <gazebo reference="imu_link">
      <sensor name="imu_sensor" type="imu">
        <always_on>true</always_on>
        <update_rate>1000</update_rate>
        <imu>
          <orientation>
            <x><noise type="gaussian"><stddev>${cfg['controller_manager']['ros__parameters']['imu_params']['orientation']['variance']**0.5}</stddev></noise></x>
            <y><noise type="gaussian"><stddev>${cfg['controller_manager']['ros__parameters']['imu_params']['orientation']['variance']**0.5}</stddev></noise></y>
            <z><noise type="gaussian"><stddev>${cfg['controller_manager']['ros__parameters']['imu_params']['orientation']['variance']**0.5}</stddev></noise></z>
          </orientation>
          <linear_acceleration>
            <x><noise type="gaussian"><stddev>${cfg['controller_manager']['ros__parameters']['imu_params']['accel']['variance']**0.5}</stddev><bias_mean>${cfg['controller_manager']['ros__parameters']['imu_params']['accel']['bias_mean']}</bias_mean></noise></x>
            <y><noise type="gaussian"><stddev>${cfg['controller_manager']['ros__parameters']['imu_params']['accel']['variance']**0.5}</stddev><bias_mean>${cfg['controller_manager']['ros__parameters']['imu_params']['accel']['bias_mean']}</bias_mean></noise></y>
            <z><noise type="gaussian"><stddev>${cfg['controller_manager']['ros__parameters']['imu_params']['accel']['variance']**0.5}</stddev><bias_mean>${cfg['controller_manager']['ros__parameters']['imu_params']['accel']['bias_mean']}</bias_mean></noise></z>
          </linear_acceleration>
          <angular_velocity>
            <x><noise type="gaussian"><stddev>${cfg['controller_manager']['ros__parameters']['imu_params']['gyro']['variance']**0.5}</stddev><bias_mean>${cfg['controller_manager']['ros__parameters']['imu_params']['gyro']['bias_mean']}</bias_mean></noise></x>
            <y><noise type="gaussian"><stddev>${cfg['controller_manager']['ros__parameters']['imu_params']['gyro']['variance']**0.5}</stddev><bias_mean>${cfg['controller_manager']['ros__parameters']['imu_params']['gyro']['bias_mean']}</bias_mean></noise></y>
            <z><noise type="gaussian"><stddev>${cfg['controller_manager']['ros__parameters']['imu_params']['gyro']['variance']**0.5}</stddev><bias_mean>${cfg['controller_manager']['ros__parameters']['imu_params']['gyro']['bias_mean']}</bias_mean></noise></z>
          </angular_velocity>
        </imu>
      </sensor>
    </gazebo>

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <parameters>$(find dog_bringup)/config/robot_controllers.yaml</parameters>
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
        </plugin>
    </gazebo>
    <gazebo>
      <plugin name="dog_ground_truth" filename="libgazebo_ros_p3d.so">
        <ros>
          <remapping>odom:=/ground_truth</remapping>
        </ros>
        <body_name>base_link</body_name>
        <frame_name>world</frame_name>
        <update_rate>10.0</update_rate>
        <xyz_offset>0 0 0</xyz_offset>
        <rpy_offset>0 0 0</rpy_offset>
        <gaussian_noise>0.001</gaussian_noise>
      </plugin>
    </gazebo>
</robot>